@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Source+Sans+Pro:wght@400;900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #163638;
}

.title {
    padding: 15px 0;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #FFE3B9;
    background-color: #005567;
    border-radius: 0 0 50px 50px;
}

.library {
    /* background-color: red; */
    padding: 3rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.book-card-container{
    height: 230px;
    width: 200px;
}

.book-card {
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.65s;
}

.book-card-container:hover .book-card{
    transform: rotateY(180deg);
}

.book-card figure {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Source Sans Pro', serif;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.book-card .front {
    background: #E5E5E5;
    font-weight: 900;
    font-size: 2rem;
}

.book-card .back {
    border: 1px solid black;
    background: #BFBFBF;
    transform: rotateY(180deg);
    cursor: default;
}

.book-author {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-menu {
    height: 100%;
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    background-color: #828282;
    font-size: 2rem;
    font-family: 'Source Sans Pro', serif;
    font-weight: 900;
    color: white;
    position: relative;
    z-index: 5;
    top: -100%;
    cursor: default;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.25s;
}


.read-toggle {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove-btn {
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background: none;
    border: none;
    transition: color 0.10s;
}

.remove-btn:hover {
    color: rgb(206, 57, 57);
}


.fab-container {
    /* border: 1px solid black; */
    position: fixed;
    bottom: 50px;
    right: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.clear-storage-btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
    font-family: 'Source Sans Pro', serif;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    opacity: 0;
    position: absolute;
    top: 100px;
    transition: color 75ms, background-color 75ms, opacity 0.5s;
}

.fab-container:hover .clear-storage-btn {
    opacity: 1;
    height: auto;
    width: auto;
    top: 0px;
}

.fab-container:hover {
    height: 94px;
    width: 113.45px;
    right: 48.275px;
}

.clear-storage-btn:hover {
    background-color: rgba(255, 255, 255, 0.75);
    color: red;
}

.blue-btn {
    font-family: 'Source Sans Pro', serif;
    font-weight: 900;
    color: white;
    background-color: #005567;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.book-modal-btn {
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 2.25rem;
    transition: border-radius 0.35s;
}

.fab-container:hover .book-modal-btn{
    border-radius: 50%;
}

.book-modal-btn::before{
    content: "New Book";
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    left: -120px;
    bottom: -100px;
    background-color: #353535;
    border-radius: 5px;
    padding: 5px 20px;
    opacity: 0;
    transition: opacity 250ms;
    transition-delay: 1s;
    

}

.book-modal-btn:hover::before{
    bottom: 10px;
    opacity: 1;
}

.book-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /*temp*/
    transition: all 0.5s;
    border: 5px solid #4b4b4b;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(22, 54, 56, 1);
    width: 500px;
    height: 500px;
    max-width: 80%;

    display: flex;
    flex-direction: column;
}

.book-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.book-modal-heading {
    padding: 15px 0;
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color: #FFE3B9;
    background-color: #005567;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.book-modal > form {
    /* border: 1px solid black; */
    color: #FFE3B9;

    flex: 1;
    gap: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.book-modal > form > div {
    /* border: 1px solid black; */
    font-size: 1.5rem;
    width: 80%;
}

.book-modal > form > div > input {
    padding: 5px 10px;
    font-family: 'Source Sans Pro', serif;
    font-size: 1.2rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #4b4b4b;
}

#new-book {
    padding: 10px 15px;
    margin-top: 2rem;;
    font-size: 1.5rem;
    transition: all 150ms;
}

#new-book:hover {
    border-radius: 10px;
}

#new-book:active {
    position: relative;
    top: 2px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 200ms;
    opacity: 0;
    pointer-events: none;
    z-index: 9;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: background-color .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: transform .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}